body {
	background-image: url("../images/wov.png");
}

h1 {
	background-color: #D2691E;
	display: inline;
	border: solid
}

#instructions {
	margin-top: 20px;
	width: 30%;
	border: solid;
	background-color: #DEB887;

}


.section {
	display: inline-block;
	background-color: 	#00FFFF;
	width: 10%;
}

}
.start{
	height:105px;
    width:300px;
    display: inline-block;
}
.randomnumber{
	width:150px;
	height: 90px;
	background-color: #49E692;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 30px;
	color:#8A358F;

}
.scoreboard{
	width:100px;
	height: 80px;
	background-color: #49E6D6;
	margin-left: 160px;
	margin-top: -87.5px;
	margin-bottom: 20px;
}

.click{
	width:80px;
	height:80px;
}
.score{
	width: 180px;
	height:30px;
	background-color: #12B5A2;
	margin-bottom: 10px;
}
h5{
	color: white;
	padding-top: 7px;
}
.addition{
	width:180px;
	height:90px;
	background-color: #12B5A2;
	font-size: 30px;
	color: white;
}